
@{
    ViewBag.Title = "Success";
}


<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-10"> 
                        <h2 class="text-success">
                            <i class="glyphicon glyphicon-ok"></i> @ViewBag.Message
                        </h2>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <a href="@Url.Action("Index","Home")" class="btn btn-success">Take chachallenge again.</a>
                    </div>
                </div>
            }
        </section>
    </div>

</div>